#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

/* APP */
.App {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.App p {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: left;
}

.App-part{
  width: 50%;
  border: 2px solid white;
  text-align: center;
}
.App-part-header{
  font-weight: bold;
  color: white;
  background-color: #282c34;
  padding: 1rem;
  border-bottom: 2px solid white;
}
.App-part-text{
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  p{
    font-size: 12px;
  }
}
.App-part-content{
  margin-top: 15px;
}
.App-part-container-preview-img{
  margin: 25px;
  display: grid;
}
.App-part-content-preview-img{
  width: 100%;
}

.preview-img{
  width: 55%;
}

/* ERREUR */
.errorText{
  color: darksalmon;
  font-weight: bold;
}

/* INPUT */
.custom-file-input {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-file-input input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.container {
  display: flex;
  height: calc(100vh - 100px); /* Ajustez en fonction de la taille de votre NavBar et Footer */
}

.chat-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Responsive Mobile */
@media (max-width: 768px) {
  :root {
    font-size: 14px !important;
  }
}

.chatbot-input {
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.chatbot-buttons{
  display: grid;
  margin-left: 10px;
}

.new-chat, button {
  background-color: white; /* Couleur de fond des boutons */
  border: none;              /* Suppression de la bordure par défaut */
  color: white;              /* Couleur du texte */
  text-align: center;        /* Alignement du texte */
  text-decoration: none;     /* Suppression de la décoration de texte */
  display: inline-block;     /* Pour que les boutons soient en ligne */
  margin: 4px 2px;           /* Espacement autour des boutons */
  border-radius: 12px;       /* Coins arrondis */
  cursor: pointer;           /* Curseur en forme de main */
  transition: background-color 0.3s; /* Transition douce pour le changement de couleur */
}

.new-chat img, .arrow {
  width: 24px; /* Taille des icônes */
  height: 24px;
}

button:hover, .new-chat:hover {
  background-color: #45a049; /* Couleur au survol */
}

textarea {
  flex: 1;                   /* Prend tout l'espace disponible */
  border: 1px solid #ccc;    /* Bordure légère */
  border-radius: 8px;        /* Coins arrondis */
  padding: 10px;             /* Espacement intérieur */
  resize: none;              /* Empêche le redimensionnement */
  margin-left: 10px;         /* Espacement entre le textarea et les boutons */
}

textarea:focus {
  outline: none;             /* Supprime le contour bleu par défaut */
  border-color: #4CAF50;     /* Bordure de couleur différente lors du focus */
}

.HomePage-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement les éléments */
  justify-content: center; /* Centre verticalement les éléments */
  height: 100vh; /* S'assure que la div prend toute la hauteur de la page */
  text-align: center; /* Centre le texte à l'intérieur des éléments */
}

.menu-icon{
  width: 55px;
  margin: 15px;
}