.chatbot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    background-color: #f4f4f4;
    width: 50%;
}

.chatbot-messages {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 20px;
    width: 100%;
}

.chatbot-message {
    max-width: 60%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.5;
}

/* User messages */
.chatbot-message.user {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
    text-align: left;
    margin-left: 10px;
}

/* Bot messages */
.chatbot-message.bot {
    background-color: #e9ecef;
    color: #333;
    align-self: flex-end; /* Changed from flex-start to flex-end */
    text-align: left;
    float: right;
    margin-right: 10px;
}

/* Typing message style */
.chatbot-message.typing {
    font-style: italic;
    color: #888;
    align-self: flex-end;  /* Ensures typing message is also aligned to the right */
}

.chatbot-input {
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

.chatbot-input textarea {
    height: 100px;
    color: black;
    background-color: white;
    flex: 1;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.chatbot-buttons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.chatbot-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.chatbot-buttons .send{
    color: white;
    background-color: black;

}

/* For mobile responsiveness */
@media (max-width: 600px) {
    .chatbot-message {
        max-width: 80%;
        font-size: 14px;
    }
}
