.chatbot {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    overflow: scroll;
}

.chatbot-messages {
    margin-top: 50px;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chatbot-message {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    max-width: 75%;
    word-wrap: break-word;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.chatbot-message.user {
    background-color: green;
    align-self: flex-start;
    text-align: left;
    border-bottom-left-radius: 0;
}

.chatbot-message.bot {
    width: 100% !important;
    max-width: fit-content;
    background-color: grey;
    align-self: flex-end;
    text-align: left;
    border-bottom-right-radius: 0;
}

.chatbot-input {
    display: flex;
}

.chatbot-input textarea {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    /*
    overflow: hidden;
    height: auto;
    */
    min-height: 50px;
    max-height: 150px;
    line-height: 1.5;
}

.arrow{
    width: 20px;
}

.chat{
    width: 50px;
}

/* responsive mobile */
@media (max-width: 768px) {
    .chatbot {
        height: 90vh;
        border-radius: 0;
    }
}
/* responsive web */
@media (min-width: 768px) {
    .chatbot {
        height: 80vh;
    }
}