.navbar{
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    padding: 0 1rem;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}

.navbar-nav li{
    list-style-type: none;
    color: #495057;
}

.navbar-nav li a{
    color: #495057;
    text-decoration: none;
    padding: 1rem;
}

.navbar-nav li a:hover{
    color: #212529;
}